<!-- Sección 4 -->
<div id="section_4">
  <div class="container4">
    <div class="main4">
      <h2> Proyectos (No Responsive)</h2>
      <h4>Para acceder al Proyecto por favor haga click sobre el botòn respectivo</h4>
      <div class="container">
        <div class="section1">
          <!-- 12 -->
          <div class="flip-box">
              <div class="flip-box-inner">
                  <div class="flip-box-front">
                      <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p13.jpg" alt="Avatar" class="image">
                  </div>
                  <div class="flip-box-back">
                      <div class="text">
                          <h3>Proyecto N° 12</h3>
                          <p class="mi_animacion_1">Ferrari</p>
                      </div>
                  </div>
              </div>
              <div class="project_btn">
                  <a class="fcc-btn" href="https://ferrariseason2022.joseluisgalvis.repl.co/" target="_blank">Proyecto N° 12</a>
              </div>
          </div>
          <!-- 11 -->
          <div class="flip-box">
              <div class="flip-box-inner">
                  <div class="flip-box-front">
                      <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p12.jpg" alt="Avatar" class="image">
                  </div>
                  <div class="flip-box-back">
                      <div class="text">
                          <h3>Proyecto N° 11</h3>
                          <p class="mi_animacion_1">Full Stack<br> Developer</p>
                      </div>
                  </div>
              </div>
              <div class="project_btn">
                  <a class="fcc-btn" href="https://full-stack.joseluisgalvis.repl.co/" target="_blank">Proyecto N° 11</a>
              </div>
          </div>
          <!-- 10 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p11.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 10</h3>
                  <p class="mi_animacion_1">Curso Básico<br> de Python</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
                <a class="fcc-btn" href="https://curso-basico-python.joseluisgalvis.repl.co/" target="_blank">Proyecto N° 10</a>
            </div>
          </div>
          <!-- 9 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p10.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 9</h3>
                  <p class="mi_animacion_1">La Vinoteca</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
                <a class="fcc-btn" href="https://vinos.joseluisgalvis.repl.co/" target="_blank">Proyecto N° 9</a>
            </div>
          </div>
          <!-- 8 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p9.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 8</h3>
                  <p class="mi_animacion_1">Cierre del Curso <br> Codo a Codo 4.0</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
                <a class="fcc-btn" href="https://joseluisgalvis.github.io/Proyecto-9vno/" target="_blank">Proyecto N° 8</a>
            </div>
          </div>
          <!-- 7 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p8.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 7</h3>
                  <p class="mi_animacion_1">Día de la <br> Independencia<br> de Argentina</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
                <a class="fcc-btn" href="https://joseluisgalvis.github.io/Proyecto-8vo/" target="_blank">Proyecto N° 7</a>
            </div>
          </div>
          <!-- 6 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p7.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 6</h3>
                  <p class="mi_animacion_1">Cumpleaños<br> de Juan José</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
                <a class="fcc-btn" href="https://joseluisgalvis.github.io/Proyecto-7mo/"  target="_blank">Proyecto N° 6</a>
            </div>
          </div>
          <!-- 5 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p6A.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 5</h3>
                  <p class="mi_animacion_1">Burger Menú</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
                <a class="fcc-btn" href="https://hamburguesa.joseluisgalvis.repl.co/" target="_blank">Proyecto N° 5</a>
            </div>
          </div>
          <!-- 4 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p4.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 4</h3>
                  <p class="mi_animacion_1">Fórmula 1</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
                <a class="fcc-btn" href="https://joseluisgalvis.github.io/Proyecto-4to/" target="_blank">Proyecto N° 4</a>
            </div>
          </div>
          <!-- 3 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p3.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 3</h3>
                  <p class="mi_animacion_1">Vamos de Paseo <br> con Yrsa Bello</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
              <a class="fcc-btn" href="https://joseluisgalvis.github.io/3er-Proyecto/" target="_blank">Proyecto N° 3</a>
            </div>
          </div>
          <!-- 2 -->
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p2.jpg" alt="Avatar" class="image">
              </div>
              <div class="flip-box-back">
                <div class="text">
                  <h3>Proyecto N° 2</h3>
                  <p class="mi_animacion_1">Conversor <br> de Kilometros a Millas</p>
                </div>
              </div>
            </div>
            <div class="project_btn">
              <a class="fcc-btn" href="https://joseluisgalvis.github.io/2do-Proyecto/" target="_blank">Proyecto N° 2</a>
            </div>
          </div>
          <!-- 1 -->
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/p1.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 1</h3>
                        <p class="mi_animacion_1">Pequeña Historia<br> de la Arepa</p>
                    </div>
                </div>
              </div>
              <div class="project_btn">
                  <a class="fcc-btn" href="https://joseluisgalvis.github.io/Proyecto_1/" target="_blank">Proyecto N° 1</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
