<nav>
    <div id="logo">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img src="https://raw.githubusercontent.com/JoseLuisGalvis/ap_cvWeb_assets/main/logoAProg.png" alt="logoArgPrograma"></a>
    </div>
    <div class="titulo">
        <h1>Argentina Programa</h1>
    </div>
    <div class="menu">
        <a href="#section_1">Acerca de Mi</a>
        <a href="#section_2">Estudios</a>
        <a href="#section_3">Habilidades</a>
        <a href="#section_4">Proyectos</a>
        <a href="#section_5">Experiencia</a>
    </div>
    <div class="rrss">
        <p><a class="social-button rt-social-button-5" href="https://www.facebook.com" target="_blank" rel="noopener"><i class='fa fa-facebook'></i></a></p>
        <p><a class="social-button rt-social-button-5" href="https://www.instagram.com/" target="_blank" rel="noopener"><i class='fa fa-instagram'></i></a></p>
        <p><a class="social-button rt-social-button-5" href="https://twitter.com" target="_blank" rel="noopener"><i class='fa fa-twitter'></i></a></p>
        <p><a class="social-button rt-social-button-5" href="https://linkedin.com" target="_blank" rel="noopener"><i class='fa fa-linkedin'></i></a></p>
        <button id="button" type="button" (click)="login()" target="_blank" *ngIf="!isLogged"><img src="https://www.freeiconspng.com/uploads/login-button-png-4.jpg"></button>
        <button id="button" type="button" (click)="onLogOut()" *ngIf="isLogged"><i class="fa fa-sign-out" aria-hidden="true"></i>LOGOUT</button>
    </div>
</nav>
